{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-5">
            <form action="/signin/" method="post" class="card card-body">
                <h1 class="text-center">signin</h1>
                {{error}}
                {% csrf_token %}
                <!-- {{form.as_p}} -->
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-primary">Signin</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
    